body {
  /* font-family: 'Arial', sans-serif; */
  font-family: "Merriweather", serif;
  font-weight: 300;
  margin: 0;
  padding: 40px;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
}

/* ------ over-rides ------ */
h2,
li strong {
  font-weight: 400;
}

h2 {
  font-size: 22px;
  border-bottom: 2px solid #ddd;
  margin: 5px 0px;
}

ul {
  list-style-type: circle;
  padding: 0;
}

li {
  margin-bottom: 20px;
}

a {
  color: #4f4f4f;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* ------------------------------ */

/* ------ header ------ */
header {
  text-align: center;
  /* margin-bottom: 40px; */
}

header h1 {
  font-weight: 700;
  font-size: 28px;
  margin: 0;
}

header .info {
  display: flex;
  justify-content: space-around;
  column-gap: 1rem;
}

header .info span a {
  font-size: 14px;
  color: rgb(79, 79, 79);
  font-weight: 600;
}

/* ------------------------------ */

.container {
  max-width: 900px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.expr_title {
  display: flex;
  justify-content: space-between;
}

.description {
  margin-top: 10px;
}

.icon {
  width: 14px;
}

.achievements {
  margin-top: 10px;
  padding-left: 20px;
}

.section-summary p,
.section-skills p {
  margin: 3px 0;
}

.section-summary p {
  font-size: 14px;
}

#experienceList ul {
  margin: 3px;
}

#experienceList ul li {
  margin: 0;
  font-size: 14px;
}

#projectsList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 5px;
}

#projectsList li {
  margin: 0;
  font-size: 12px;
}

#projectsList .title {
  font-size: 14px;
  font-weight: 600;
}
